<app-search></app-search>
<app-title title="Products" margin="1.5rem 0 0 2.5rem"></app-title>
<app-not-found
  [visible]="!products || !products.length"
  resetLinkText="Reset Search"
></app-not-found>
<ul>
  <li *ngFor="let product of products">
    <a routerLink="/products/{{product.id}}">
      <img src="{{product.imageUrl}}" [alt]="product.name" />
      <div class="content">
        <div class="name">
          {{product.name}}
        </div>
        <span class="favorite {{product.favorite?'': 'not'}}">
          ❤
        </span>
        <div class="description">
          <span>
            View...
          </span>
        </div>
        <div class="price">
          <span>
            R{{product.price}}
          </span>
        </div>
      </div>
    </a>
  </li>
</ul>
