<div class="container">
  <div class="details">
    <app-title title="Register" ></app-title>
    <form [formGroup]="registerForm" (ngSubmit)="submit()">
      <text-input
        [control]="fc.name"
        [showErrorsWhen]="isSubmitted"
        label="Name"
        placeholder="Enter Your Name"
      >
      </text-input>
      <text-input
      [control]="fc.email"
      [showErrorsWhen]="isSubmitted"
      label="Email"
      type="email"
      placeholder="Enter Your Email"
      >
      </text-input>
      <text-input
      [control]="fc.password"
      [showErrorsWhen]="isSubmitted"
      label="Password"
      type="password"
      placeholder="Enter Your Password"
      >
      </text-input>
      <text-input
      [control]="fc.password"
      [showErrorsWhen]="isSubmitted"
      label="Confirm Password"
      type="password"
      placeholder="Re-type Your Password"
      >
      </text-input>
      <text-input
      [control]="fc.address"
      [showErrorsWhen]="isSubmitted"
      label="Town"
      placeholder="Enter Your Town Name"
      >
      </text-input>
      <default-button text="Signup"></default-button>
      <div class="login">
        Already a user? &nbsp;
        <a routerLink="/login" [queryParams]="{returnUrl: returnUrl}">
          Signin
        </a>
      </div>
    </form>
  </div>
  <img src="/assets/data/safety.png" alt=" landing " />
</div>
