<footer>
  <div class='container'>
      <div>
        <div class="footer__wrapper">
          <img class="footer__logo" src="../../../../assets/data/logopinky.png" />
          <p class="logo__title">Be Pleasured By Pinky</p>
        </div>
        <ul class='footerLinks'>
            <p>bepleasuredbypinky@gmail.com</p>
            <li>
              <a class='link' routerLink="https://wa.me/<2814994487>" target='_blank' rel="noreferrer"><p>WhatsApp</p></a>
            </li>
            <li>
              <a class='link' routerLink="http://www.facebook.com/pinky.maroya" target='_blank' rel="noreferrer"><p>Facebook</p></a>
            </li>
            <li>
              <a class='link' routerLink="#" target='_blank' rel="noreferrer"><p>Cape Town</p></a>
            </li>
            <small>&copy; Copyright 2023, Be Pleasured By Pinky</small>
        </ul>
      </div>
      <div>
        <div class="footer__wrapper">
          <img class="footer__logo" src="../../../../assets/data/AlphaBlack.png" />
          <p class="logo__title">Individualist</p>
        </div>
        <ul>
            <p>Individualist</p>
            <li>
              <a class='link' routerLink="http://www.facebook.com/pinky.maroya" target='_blank' rel="noreferrer"><p>Website</p></a>
            </li>
            <li>
              <a class='link' routerLink="http://www.facebook.com/pinky.maroya" target='_blank' rel="noreferrer"><p>Facebook</p></a>
            </li>
            <li>
              <a class='link' routerLink="#" target='_blank' rel="noreferrer"><p>Cape Town</p></a>
            </li>
            <small>&copy; Copyright 2023, Be Pleasured By Pinky Created By @Individualist</small>
        </ul>
      </div>
  </div>
</footer>
